/* .name span{
  display:none;
} */
@keyframes bounceUp {
  0% {
    /* transform: translate3d(0px, 0px, 0px); */
    font-size: 0px;
    /* opacity: 0; */
  }
  100% {
    /* transform: translate3d(0px, 0px, 0px); */
    font-size: 70px;
    display: inline-block;
    /* opacity: 1; */
  }
}
@keyframes bounceDown {
  0% {
    /* transform: translate3d(0px, 0px, 0px); */
    font-size: 70px;
    /* opacity: 0; */
  }
  100% {
    /* transform: translate3d(0px, 0px, 0px); */
    font-size: 0px;
    display: inline-block;
    /* opacity: 1; */
  }
}
@keyframes bounceUpSmall {
  0% {
    /* transform: translate3d(0px, 0px, 0px); */
    font-size: 0px;
    /* opacity: 0; */
  }
  100% {
    /* transform: translate3d(0px, 0px, 0px); */
    font-size: 100px;
    display: inline-block;
    /* opacity: 1; */
  }
}
@keyframes bounceDownSmall {
  0% {
    /* transform: translate3d(0px, 0px, 0px); */
    font-size: 100px;
    /* opacity: 0; */
  }
  100% {
    /* transform: translate3d(0px, 0px, 0px); */
    font-size: 0px;
    display: inline-block;
    /* opacity: 1; */
  }
}
body{
  font-family: 'Sarabun', sans-serif;
  font-weight: 100;
  /* background: #a4cbf3; */
    background:-webkit-linear-gradient(top left, white, #2296f3 70%, #ffeb3b 30%, white);
    color: white;
  background-size: 100% 100%;
  background-repeat: none;
  margin: 0px;
}
h1 span{
  /* display: inline-block !important; */
  font-size: 0px;
  margin-top: 10vh;

}
h1{
  display: inline-block;
  border-bottom: 1px solid #ebebeb;
}
.name span {
  /* opacity: 0; */
  display: none;
  position: relative;
  display: inline-block;
}
.name span.active {
  animation: bounceUp 600ms ease 0ms 1 normal both;
}
.name span.inactive {
  animation: bounceDown 600ms ease 0ms 1 normal both;
}
#click{
  position: absolute;
  bottom: 50px;
  border: none;
  background: pink;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  margin: 0 auto;
  right: calc(50% - 50px);
  text-align: center;
}
#name{
  /* margin-top: 20%; */
}
.block{
  background-color: white;
  /* border-radius:  5px; */
  width: 28%;
  display: inline-block;
  color: #716363;
  padding-top: 20px;
  margin: 0;
  padding-bottom: 20px;
  /* max-width: 30%; */
  border-right: solid 1px #ebebeb;
}
  @media screen and (max-width: 1000px) {
    .block{
      width: 90% !important;
      border-bottom: 1px solid #ebebeb;
      border-right: none;
    }
    .name span.active {
      animation: bounceUpSmall 600ms ease 0ms 1 normal both;
    }
    .name span.inactive {
      animation: bounceDownSmall 600ms ease 0ms 1 normal both;
    }
  }
